name: Check setup

on:
  workflow_call:
    inputs:
      command:
        required: true
        type: string

jobs:
  run-check:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: canary
      - run: bun install
      - run: ${{ inputs.command }}
