name: Run check

on:
  workflow_call:
    inputs:
      command:
        required: true
        type: string

jobs:
  run-check:
    if: '! github.event.pull_request.draft'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
        # with:
        #   fetch-depth: 0
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: canary
      - run: git fetch origin main:main
      - run: bun install
      - run: ${{ inputs.command }}
